.customerRequest{
    padding: 2em 2em;
    background-color:  #fbfbfb;
}
.newReq{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.requestList{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}